extends ../layouts/main.pug
include ../components/btn.pug
block content 
    .create-post 
        form.create-new-post
            input(type="text" name="author" placeholder="Author") 
            input(type="text" name="name" placeholder="Name")
            textarea(name="text" placeholder="Text")  
            +btn('','отправить','create-sub')
    script(src="createPost.js") 
