extends ../layouts/main.pug
block content 
    h1 Пошст успешно удален
    p 
        a(href="/") На главную
    p 
        a(href="/create-post") Содздать новый пост 
    p 
        a(href="/posts") Смотреть посты